@import '../../../../styles/responsive-media';

.games-promo {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  column-gap: 3rem;
  padding: 0;
  list-style: none;

  @include desktop-bottom() {
    flex-direction: column;
    align-items: center;
  }
}
