@import '../../../../styles/_responsive-media.scss';

.personal {
  background: #FAFAFA;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;


  @include tablet-lower() {
    display: none;
  }

  &__game-hidden {
    visibility: hidden;
  }

  &__wrapper {
    min-width: 452px;
    padding: 70px 54px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    @include desktop-highest() {
      padding: 54px 40px;
      width: 365px;
      min-width: auto;
    }

    @include desktop-middle() {
      padding: 54px 40px;
      width: 320px;
      min-width: auto;
    }

    @include desktop-lowest() {
      padding: 149px 40px 40px;
    }

    @include tablet-middle() {
      padding: 149px 30px 30px;
      width: 290px;
    }  }

  &__img {
    width:171px;
    height:171px;
    background-color: orange;
    border-radius: 50%;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
 
  }
  &__city {
    font-family: Montserrat;
    font-size: 1.1rem;
    color: #b2b2b2;
    text-align: center;
  }

  &__descr {
    font-family: Montserrat;
    font-weight: 500;
    color: #b2b2b2;
  }

  &__progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__center {
    width: 100%;

    &-title {
      font-family: Montserrat;
      font-weight: 700;
      color: #7d7d7d;
      font-size: 26px;
      border-bottom: 1px solid #b2b2b2;

      @include desktop-highest() {
        font-size: 23px;
      }
    }
  }

  &__counter {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.8rem
  }

  &__success{
    font-family: Montserrat;
    font-weight: 700;
    color: #7d7d7d;
    border-bottom: 1px solid #b2b2b2;
    font-size: 26px;

    @include desktop-highest() {
      font-size: 23px;
    }
  }

  &__column {
    font-size: 20px;

    @include desktop-highest() {
      font-size: 18px;
    }

    @include desktop-middle() {
      font-size: 16px;
    }
  }

  &__column > * {
    padding: 5px 0px;
  }

  &__column-info {
    text-align: center;
  } 

  &__words-flex {
    display: flex;
    justify-content: space-between;
  }

  &__counter {
    text-align: center;
  }

  &__diagram {
    width: 70%;
    margin: 15px auto;
    
    @include desktop-highest() {
      width: 90%;
    }

    @include desktop-middle() {
      width: 90%;
    }

    @include desktop-lowest() {
      width: 80%;
    }

    @include desktop-lowest() {
      width: 80%;
    }
  }

  

  &__info {
    width: 200px;

    @include desktop-highest() {
      width:180px;
    }

    @include desktop-middle() {
      width:165px;
    }
  
  }

  &__games {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    padding:5px 0;


    @include desktop-highest() {
      padding:10px 0;
    }

    @include desktop-middle() {
      padding: 25px 0;
    }

    @include desktop-lower() {

    }
  }

  &__game {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: black;
    padding: 12px;
    text-align: center;
    flex: 0 1 44%;
    margin: 10px 0;

    @include desktop-highest() {
      font-size: 16px;
      flex: 0 1 48%;
    }

    @include desktop-middle() {
      font-size: 15px;
    }
  }

  &__row {
    display: flex;
  }

  &__game1 {
    background: #6550DE;
  }

  &__game2 {
    background: #F56748;
  }

  &__statistics {
    font-size: 20px;
    width: 100%;
    color: #7d7d7d;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;

    @include desktop-highest() {
      font-size: 18px;
    }

    @include desktop-highest() {
      font-size: 16px;
    }

    &-descr2 {
    text-align: center;
    }

    &-descr > * {
      padding: 5px 0;
    }
  }

  &__buttons {
    border-top: 1px solid #b2b2b2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
}
