@import '../responsive/responsive-media.scss';

.personal {
  background: #FAFAFA;
  flex-shrink: 0;

  &__game-hidden {
    visibility: hidden;
  }

  &__wrapper {
    min-width: 452px;
    padding: 70px 54px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    @include desktop-highest() {
      padding: 40px 45px;
      width: 320px;
      min-width: auto;
    }

    @include desktop-middle() {
      padding: 40px 40px;
      width: 260px;
    }

    @include desktop-lower() {
      padding: 30px;
      width: 220px;
    }
  }

  &__img {
    width:171px;
    height:171px;
    background-color: orange;
    border-radius: 50%;
  }

  &__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  &__city {
    font-family: Montserrat;
    font-size: 1.1rem;
    color: #b2b2b2;
    text-align: center;
  }

  &__descr {
    font-family: Montserrat;
    font-weight: 500;
    color: #b2b2b2;
    font-size: 1.1rem
  }

  &__progress {
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
  }

  &__counter {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.8rem
  }

  &__success{
    font-family: Montserrat;
    font-weight: 700;
    color: #7d7d7d;
    font-size: 1.4rem;
  }

  &__column > * {
    padding: 5px 0px;
  }

  &__column-info {
    text-align: center;
  } 

  &__words-flex {
    display: flex;
    justify-content: space-between;
  }

  &__counter {
    text-align: center;
  }

  &__diagram {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 240px;
    
    @include desktop-highest() {
      width: 100%;
    }
  }

  &__upper {
    width:200px;

    @include desktop-highest() {
      width:185px;
    }

    @include desktop-middle() {
      width:165px;
    }

    @include desktop-lower() {
      width:145px;
    }
  }

  &__games {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #b2b2b2;
    justify-content: space-between;
    padding:30px 0;
    

    @include desktop-highest() {
      flex-direction: column;
    }

    @include desktop-middle() {

    }

    @include desktop-lower() {

    }
  }


 
  
 

  &__game {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: black;
    padding: 12px;
    text-align: center;
    flex: 0 1 44%;
    margin: 10px 0;
  }

  &__row {
    display: flex;
  }

  &__game1 {
    background: #6550DE;
  }

  &__game2 {
    background: #F56748;
  }
  
}
