@import '../../../../styles/constants';

.container {
  min-height: 100vh;

  background-image: url("../../../../assets/img/sprint-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 87.5rem) {
    background-size: contain;
  }
}

.main {
  display: flex;
  justify-content: center;

  font-size: 2.2rem;
}

.sprint-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.4rem;

  &__audio {
    margin-left: auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 97.5%;
    margin-bottom: 0.9rem;

    border-bottom: 0.06rem solid $header-line-color;
  }

  &__score {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.3rem;
  }

  &__label {
    margin-right: auto;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
    margin-bottom: 6rem;
  
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  
    &--english {
      color: $gray-text-color;
      text-transform: lowercase;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__answer-indicator {
    display: flex;
    width: 11.2rem;
    align-self: flex-start;
    justify-content: center;

    border-top: 0.06rem solid $header-line-color;
  }

  &__selects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.5rem;
    width: 100%;
    margin-bottom: 2.84rem;
  }

  &__circle {
    transform: translateY(-50%);
  }

  &__btn {
    width: 8.8rem;
    height: 8.8rem;
  
    color: $btn-text-color;
    font-size: 1.3rem;
    line-height: 1.5rem;
  
    border: none;
    outline: none;
  
    cursor: pointer;
  
    transition: 0.5s;
  
    &--no {
      background-color: $main-red-color;
      border-radius: 50% 50% 0 50%;
    }
  
    &--yes {
      background-color: $main-purple-color;
      border-radius: 50% 50% 50% 0;
    }
  
    &:hover {
      background-color: $hover-btn-color;
    }

    &--disabled {
      background-color: $disabled-bg-color;

      cursor: not-allowed;

      &:hover {
        background-color: $disabled-bg-color;
      }
    }
  }
}

.circle__tick {
  background-color: $main-purple-color;
}

.circle--animated {
  animation: indicator 0.8s forwards;
}

@keyframes indicator {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 3.5rem 4.7rem;

  &__play-btn {
    margin-bottom: 0;
    margin-right: 1.2rem;
  }
}

.play-btn {
  &::before {
    transition: 0.5s;
  }

  &:hover {
    &::before {
      background: $hover-btn-color;
    }
  }

  &--disabled {
    background: #efefef;

    &:disabled {
      opacity: 1;
    }

    &:hover {
      &::before {
        background: $disabled-bg-color;
      }
    }

    &::before {
      background: $disabled-bg-color;
    }
  }
}
