$desktop-highest: 1920px;
$desktop-middle: 1600px;
$desktop-lower: 1400px;
$desktop-lowest: 1280px;
$desktop-bottom: 1200px;

$tablet-upper: 1050px;
$tablet-middle: 900px;
$tablet-lower: 767px;
$tablet-lowest: 600px;

$mobile-upper: 550px;
$mobile-middle: 400px;
$mobile-lower: 321px;