/* Colors */
$btn-text-color: #fff;
$close-btn-color: #e5e5e5;
$hover-btn-color: #fec246;

$promo-game-decor-color: #fff;

$main-purple-color: #6550de;
$main-red-color: #f56748;
$main-pink-color: #ffcfcf;
$savanna: #ffa500;

$header-line-color: #b2b2b2;
$results-title-color: #b2b2b2;
$gray-text-color: #b2b2b2;
$disabled-bg-color: #b2b2b2;
$overlay-color: rgba(250, 250, 250, 0.87);
$result-bg-color: #fff;
$gray-main-text-color: #7D7D7D;
$lavender-color: #ab9ff1;
$footer-hover-icon: #000;
