@import "../../../../../../styles/responsive-media";
.results-title {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-bottom: 0.7rem;

  color: var(--header-line-color);
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;

  border-bottom: 0.06rem solid var(--header-line-color);

  @include tablet-lowest() {
    font-size: 1.2rem;
  }
}
