.audiocall__modal {
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: modal-visible 2s ease-in-out;
  -webkit-animation: modal-visible 2s ease-in-out;
}

.audiocall__modal-row {
  width: 995px;
  height: 615px;
  background: #ffffff;
  box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
  padding: 0 50px;
  overflow: hidden;
}

table {
  width: 100%;
  height: 535px;
}

tr {
  text-align: center;
  height: 40px;
}

td {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #b2b2b2;
}

.repeater-mini {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
}

.repeater-mini svg {
  width: 15px;
  height: 15px;
}

@keyframes modal-visible {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.audiocall__modal-btns {
  width: 995px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  & button {
    width: 321.2px;
    height: 59.05px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 25.5889px;
    line-height: 31px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  & .modal__blue-btn {
    background: #6550de;
  }
  & .modal__orange-btn {
    background: #f56748;
  }
}
