.audio-call {
  background-color: #ffcfcf;

  &__sound {
    padding: 0.4rem;

    border: 0.06rem solid var(--promo-game-decor-color);
    border-radius: 50%;

    outline: 0.13rem solid var(--promo-game-decor-color);
    outline-offset: 0.6rem;
  }

  &__circle {
    width: 3.34rem;
    height: 3.34rem;

    cursor: default;

    &:hover {
      background-color: var(--yes-btn-color);
    }
  }


}
