:root {
  --dark-purple-color: #404497;
  --white-color: #fff;
  --black-color: #000;
  --grey-input-color: #b2b2b2;
  --purple-color: #6550de;
  --hover-btn: #fec246;
}

.App {
  text-align: center;
}
