:root {
  --btn-text-color: #fff;
  --hover-btn-color: #fec246;
  --promo-game-decor-color: #fff;
  --yes-btn-color: #6550de;
  --no-btn-color: #f56748;
  --header-line-color: #b2b2b2;
  --gray-text-color: #b2b2b2;
  --close-btn-color: #e5e5e5;
  --overlay: rgba(250, 250, 250, 0.87);
  --result-bg: #fff;
  --score-color: #000;
}

.app {
  height: 100vh;
}
