@import "../../../../styles/responsive-media";
@import "../audiocall-variables.scss";
.start-screen {
  width: 1920px;
  height: 1024px;
  background: url("../../../../assets/img/game_start-screen.jpeg") 50%;
  background-size: cover;
  background-repeat: repeat-x;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 100px;

  @include tablet-upper() {
    padding-top: 10px;
  }

  @include tablet-lowest() {
    padding-top: 10px;
  }

  &__close {
    position: relative;
    left: 93%;
    top: 50px;

    @include tablet-upper() {
      top: 30px;
      left: 85%;
    }

    @include tablet-lowest() {
      top: 20px;
      left: 77%;
    }
  }

  &__row {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5%;

    @include tablet-lowest() {
      gap: 40px;
    }

    &-text {
      width: 535px;
      color: $words-active-text;
      font-family: "Montserrat";
      margin-left: 7%;

      @include tablet-upper() {
        margin-left: 5%;
        text-align: center;
      }

      @include tablet-lowest() {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
      }

      & h1 {
        font-weight: 700;
        font-size: 37px;
        line-height: 45px;

        @include tablet-lowest() {
          font-size: 29.8502px;
          line-height: 36px;
        }
      }

      & p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        @include tablet-lowest() {
          text-align: center;
        }
      }
    }

    .start-screen__row-action {
      width: 250px;
      height: 185px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .row-counter {
      width: 185px;
      height: 185px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: $elem-btn;

      &:hover {
        animation: btn-up-down 0.5s linear;
        -webkit-animation: btn-up-down 0.5s linear;
      }

      & p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 110px;
        text-align: center;
        color: $words-uknown-hover-text;
      }
    }
  }
}

.play-btn {
  position: relative;
  width: 247.88px;
  height: 59.49px;
  background: $play-bg;
  border: 1px solid $btn-play-border;
  border-radius: 75px;
  margin-bottom: 125px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  margin-top: 125px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 25px;
  font-size: 22px;
  color: #7d7d7d;
  cursor: pointer;
}

.play-btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.play-btn::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top: 5px;
  left: 7px;
  border-radius: 50%;
  background: $elem-btn;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.start-screen__row-form {
  position: relative;
}

.settings-form {
  margin-bottom: 10px;
  @include tablet-lowest() {
    color: $words-uknown-hover-text;
    font-weight: bold;
  }
}
#gamelevel {
  margin-right: 25px;
}

label {
  margin-right: 10px;
}

@keyframes btn-up-down {
  from {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(0deg);
  }
}
