.label {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  font-size: 1.5rem;
  line-height: 1.8rem;
}

.selection__list {
  width: 4.5rem;
  height: 1.64rem;

  font-size: 0.9rem;
  line-height: 1.07rem;
  font-weight: 700;

  &--disabled {
    color: var(--gray-text-color);
  }
}
