$repeater-bg: #6550de;
$cross-bg: #e5e5e5;
$play-bg: #ffffff;
$btn-play-border: #b2b2b2;
$next-btn-bg: #f56748;
$elem-btn: #6550de;
$repeater-hover: #f56748;
$uknown-btn-hover: #f56748;
$cross-hover: #f56748;
$words-text: #b2b2b2;
$words-hover-text: #000000;
$words-error-text: red;
$words-active-text: #000000;
$words-uknown-text: #000000;
$words-uknown-hover-text: #ffffff;
$play-btn-text: #7d7d7d;
