.popup {
  padding: 20px;
  border: 1px solid #B2B2B2;
  min-height: 154px;
  margin-bottom: 13px;
  background-color: white;
  border-radius: 15px;


  &__sound {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6550DE;
  }

  &__word {
    font-weight: 700;
  }

  &__center {
    display: flex;
    justify-content: space-between;
  }
  &__img {
      width: 220px;
      border-radius: 50%;
      height: auto;
  }

  &__line {
    width: 100%;
    min-height: 1px;
    background-color: #ccc;
  }


  &__container {
    margin: 0 auto;
    width: 80%;
    
  }

  &__titles {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
    display: flex;
    justify-content: space-between;
  }
  
  &__button {
    flex: 0 1 22%;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-next,&-prev {
      background-color: #2acf2a;
    }

    &-unknown {
      background-color: #B2B2B2;
    }

    &-known {
      background-color: #3e94f7;
    }

    &-hard {
      background-color: #bd3b1d;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    user-select:none;
  }

}

.disabled {
  background-color: #ccc;
}