
.greetings {

  border-bottom: 1px solid #B2B2B2;

  &__text {
    color: #FFFFFF;
    font-size: 1.8rem;
    line-height: 3.5rem;
    transform: translate(0px,-50px);
  }

  &__svg {
    width:100%;
    height:100%;
    object-fit:cover;
  }

  &__descr {
    font-size: 1.5rem;
    color: #7D7D7D;
    text-align: right;
  }


  
}
