@import "../../../../../styles/responsive-media";

.audiocall__row-view-item {
  width: 211px;
  height: 211px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.audiocall__row-view-flex {
  width: auto;
  height: 100px;
  display: flex;
  column-gap: 15px;
}

.repeater-small {
  width: 52px;
  height: 52px;

  & svg {
    width: 28px;
    height: 28px;
  }
}

.audiocall__row-view-text-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #000000;

  @include tablet-upper() {
    margin-top: -15px;
  }

  @include tablet-lowest() {
    margin-top: -30px;
  }
}

.repeater-mini {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
}

.repeater-mini svg {
  width: 15px;
  height: 15px;
}

.repeater-small {
  width: 52px;
  height: 52px;
  margin-top: 45px;

  @include tablet-upper() {
    margin-top: 30px;
  }

  @include tablet-lowest() {
    margin-top: 15px;
  }

  & svg {
    width: 28px;
    height: 28px;
  }
}
