@import "./components/styles/main-page-title.scss";

.main {
  
  display: flex;
  height: 100%;

  &__wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__middle {
    padding: 74px 20px;
    margin: 0 auto;
    max-width: 892px;
  }


}
