@import "./components/styles/main-page-title.scss";

.main {
  
  display: flex;
  height: 100%;

  &__wrapper {
    flex-grow: 1;
    overflow-y: auto;

    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-blend-mode: color-dodge;
    background-color: #ffffff;
  }

  &__middle {
    padding: 74px 20px;
    margin: 0 auto;
    max-width: 892px;
  }

  &__bg-filter-0 {
    background-color: #0a0b0e;
  }

  &__bg-filter-1 {
    background-color: #0b0b10;
  }

  &__bg-filter-2 {
    background-color: #0a0a0e;
  }

  &__bg-filter-3 {
    background-color: #09090c;
  }
  
  &__bg-filter-4 {
    background-color:  #08080c;
  }
  
  &__bg-filter-5 {
    background-color: #07070c;
  }

  &__bg-filter-6 {
    background-color: #260707;
  }

}
