@import "./components/styles/main-page-title.scss";

.main {
  
  display: flex;
  height: 100%;

  &__wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__middle {
    padding: 74px 20px;
    margin: 0 auto;
    max-width: 892px;
  }

  &__color0 {
    background-color: rgb(211 164 243);
  }
  &__color1 {
    background-color: rgb(243 228 164);;
  }

  &__color2 {
    background-color: rgb(164 186 243);
  }

  &__color3 {
    background-color: rgb(193 241 186);
  }

   &__color4 {
    background-color: rgb(247 247 167);
  }

  &__color5 {
    background-color: rgb(249 176 107);
  }

  &__color6 {
    background-color: rgb(243 200 200);
  }

}
