$desktop-highest: 1920px;
$desktop-middle: 1600px;
$desktop-lower: 1400px;
$desktop-lowest: 1280px;
$desktop-bottom: 1200px;

$tablet-upper: 1050px;
$tablet-middle: 1600px;
$tablet-highest: 900px;
$tablet-lowest: 1024px;

$tablet-thoushud-breakpoint:1120px;
$tablet-breakpoint: 744px;
$tablet-x3six-breakpoint:680px;
$mobile-fiffif-breakpoint: 550px;
$mobile-breakpoint: 375px;