.circle__audio {
  background-color: var(--yes-btn-color);

  cursor: pointer;

  transition: 0.5s;

  &--inactive {
    background-color: var(--no-btn-color);

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 2.17rem;
      height: 0.15rem;
  
      background: var(--promo-game-decor-color);
      border-radius: 3.44rem;

      transform: rotate(-45deg);
    }
  }

  &:hover {
    background-color: var(--hover-btn-color);
  }
  
  &--disabled {
    background-color: var(--gray-text-color);

    cursor: not-allowed;
    
    &:hover {
      background-color: var(--gray-text-color);
    }
  }
}
